{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <div class="header  ">
                {{ page.header|richtext }}
            </div>
            <div class="row ">

                <h5 class="header col s12 light">{{ page.small_header|richtext }}</h5>
            </div>
            <div class="row">
                {% for link in page.links %}
                {% if link.value.image is not none %}
                {% image link.value.image format-webp-lossless as tmp_photo_link %}
                <a class="btn-floating btn-flat waves-effect waves-light transparent btn-floating-svg"
                    href="{{link.value.link}}" target="_blank">
                    <img src="{{tmp_photo_link.url}}" width="100%" alt="{{link.value.name}}" />
                </a>
                {% else %}
                {% if link.value.imageSVG is not none %}
                <a class="btn-floating btn-flat waves-effect waves-light transparent btn-floating-svg"
                    href="{{link.value.link}}" target="_blank">
                    <img src="{{link.value.imageSVG.url}}" width="100%" alt="{{link.value.name}}" />
                </a>
                {% else %}
                <a class="btn-floating btn-flat waves-effect waves-light transparent" href="{{link.value.link}}"
                    target="_blank">
                    <i class="material-icons">{{link.value.icon}}</i>
                </a>
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
            <br><br>

        </div>
    </div>

    {% image page.banner format-webp-lossless as tmp_photo %}
    <div class="parallax"><img class="parallax-img" src="{{ tmp_photo.url }}" alt="{{ tmp_photo.alt }}"></div>

</div>
{%if page.externalContentMiddle|length > 0 %}
<div class="container">
    <div class="section">
        <div class="row">
            {% for extra in page.externalContentMiddle %}
            {{ extra.value.rawHTML }}
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}

<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>{{page.about_title}}</h4>
                <div class="left-align light">{{page.about_content|richtext}}</div>
            </div>
        </div>

    </div>
</div>

{%if events|length > 0 %}

<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>Eventos</h4>
            </div>
        </div>

    </div>
    <div class="section">
        <div class="row">
            {% for event in events %}
            {% with event=event.specific %}

            <div class="col s12 m12 l12">
                <div class="row">
                    <div class="col s12 m3 l3">
                        {% if event.image is none %}
                        <div>
                            <h1 class="center brown-text"><i class="large material-icons">event</i></h1>
                        </div>
                        {% else %}
                        {% image event.image fill-256x256 format-webp-lossless as tmp_photo %}
                        <div class="center">
                            <img class="responsive-img" src="{{tmp_photo.url}}">
                        </div>
                        {% endif %}
                    </div>
                    <div class="col s12 m9 l9">
                        <h5>
                            <a class="black-text" href="{{event.url}}">{{event.name}}</a>
                            {% if event.state == "past" %}
                            <span class="badge " data-badge-caption="Finalizado" />
                            {% endif %}
                            {% if event.state == "current" %}
                            <span class="new badge pyred" data-badge-caption="En curso" />
                            {% endif %}
                            {% if event.state == "upcoming" %}
                            <span class="new badge pygreen" data-badge-caption="Próximamente" />
                            {% endif %}
                        </h5>
                        <div class="light ">{{event.date}}</div>
                        <div class="light ">{{event.city}}</div>
                        <div class="light ">{{event.about|richtext}}</div>
                        <div class="left">
                            {% for link in event.links %}
                            {% if link.value.image is not none %}
                            {% image link.value.image format-webp-lossless as tmp_photo_link %}
                            <a class="btn-floating btn-flat waves-effect waves-light pyred btn-floating-svg"
                                href="{{link.value.link}}" target="_blank">
                                <img src="{{tmp_photo_link.url}}" width="100%" alt="{{link.value.name}}" />
                            </a>
                            {% else %}
                            {% if link.value.imageSVG is not none %}
                            <a class="btn-floating btn-flat waves-effect waves-light pyred btn-floating-svg"
                                href="{{link.value.link}}" target="_blank">
                                <img src="{{link.value.imageSVG.url}}" width="100%" alt="{{link.value.name}}" />
                            </a>
                            {% else %}
                            <a class="btn-floating btn-flat waves-effect waves-light pyred" href="{{link.value.link}}"
                                target="_blank">
                                <i class="material-icons">{{link.value.icon}}</i>
                            </a>
                            {% endif %}
                            {% endif %}
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
            {% endwith %}
            {% endfor %}
        </div>

    </div>
</div>


{% endif %}

{%if organizers|length > 0 %}

<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>Voluntarios</h4>
            </div>
        </div>

    </div>
    <div class="section">
        <div class="row">
            {% for organizer in organizers %}
            {% with organizer=organizer.specific %}

            <div class="col s12 m6 l4">
                {% if organizer.image is none %}
                <div class="icon-block">
                    <h1 class="center brown-text"><i class="material-icons">person</i></h1>
                </div>
                {% else %}
                {% image organizer.image fill-160x160 format-webp-lossless as tmp_photo %}
                <div class="center">
                    <img class="circle  responsive-img" src="{{tmp_photo.url}}">
                </div>
                {% endif %}
                <h5 class="center">
                    <a class="black-text" href="{{organizer.url}}">{{organizer.name}}</a>
                </h5>
                <p class="light center">{{organizer.roles}}</p>
                <div class="center">
                    {% with organizer.links|first as first_net %}
                    {% if organizer.links|length > 0 %}
                    {% if first_net.value.image is not none %}
                    {% image first_net.value.image format-webp-lossless as tmp_photo_link %}
                    <a class="btn-floating btn-flat waves-effect waves-light pygreen btn-floating-svg"
                        href="{{first_net.value.link}}" target="_blank">
                        <img src="{{tmp_photo_link.url}}" width="100%" alt="{{first_net.value.name}}" />
                    </a>
                    {% else %}
                    {% if first_net.value.imageSVG is not none %}
                    <a class="btn-floating btn-flat waves-effect waves-light pygreen btn-floating-svg"
                        href="{{first_net.value.link}}" target="_blank">
                        <img src="{{first_net.value.imageSVG.url}}" width="100%" alt="{{first_net.value.name}}" />
                    </a>
                    {% else %}
                    <a class="btn-floating btn-flat waves-effect waves-light pygreen" href="{{first_net.value.link}}"
                        target="_blank">
                        <i class="material-icons">{{first_net.value.icon}}</i>
                    </a>
                    {% endif %}
                    {% endif %}
                    {% endif %}
                    {% endwith %}
                </div>
                <br />
            </div>
            {% endwith %}
            {% endfor %}
        </div>

    </div>
</div>
{% endif %}

{%if photos|length > 0 %}
{% for album in photos %}
{% with album=album.specific %}
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>{{album.name}}</h4>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="row">
            <div class="col s12 m12 l12">
                <div class="carousel">
                    {% for photo in album.images %}
                    {% if photo.value.image is not none %}
                    {% image photo.value.image fill-320x320 format-webp-lossless as tmp_photo %}
                    {% image photo.value.image original as tmp_photo_2 %}
                    <a class="carousel-item" href="{{tmp_photo_2.url}}" target="_blank"><img
                            src="{{tmp_photo.url}}"></a>
                    {% endif%}
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
</div>
{% endwith %}
{% endfor %}
{% endif %}

{%if page.externalContentFooter|length > 0 %}
<div class="container">
    <div class="section">
        <div class="row">
            {% for extra in page.externalContentFooter %}
            {{ extra.value.rawHTML }}
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}

{% endblock content %}


{%if page.externalScripts|length > 0 %}
{% block extra_js %}
{% for extra in page.externalScripts %}
{{ extra.value.rawScripts }}
{% endfor %}
{% endblock extra_js %}
{% endif %}

{%if page.externalStyles|length > 0 %}
{% block extra_css %}
{% for extra in page.externalStyles %}
{{ extra.value.rawStyles }}
{% endfor %}
{% endblock extra_css %}
{% endif %}